<main class="home">
    <section>
        <header>
            <h4>Episode 270: Design for safety</h4>
        </header>
        <div class="transcript">
            <p>😠</p>
            <p class="second">😄</p>
            <ul>
                <li class="upper_box">
                    <header>
                        <img src="/images/per_profile.jpeg">
                        <h5>Per:</h5>
                    </header>
                </li>
                <li class="lower_box">
                    <header>
                        <img src="/images/per_profile.jpeg">
                        <h5>Per:</h5>
                    </header>
                </li>
            </ul>
        </div>

        <audio id="audio" controls>
            <source src="/audio/podcast-bob-ep1-intro.mp3">
            </source>
        </audio>  
    </section>
    <form>

    </form>
</main>