<main class="home">
    <div class="video-container">
        <video src="/video/walking-video.mp4" muted loop></video>
    </div>
    <section>
        
        <div class="transcript">
            <ul>
                <li class="geluid">
                    <img src="/images/wave-sound.svg">
                    <p>Geroezemoes van langslopende mensen op straat</p>
                </li>
                <li class="upper_box transparent">
                    <header>
                        <img src="/images/siona.jpg">
                        <div>
                            <h5>Siona (Vlaams)</h5>
                            <p class="nuance"></p>
                        </div>
                    </header>
                </li>
                <li class="lower_box transparent">
                    <header>
                        <img src="/images/unknown.png">
                        <div>
                            <h5>Voorbijlopende Vlaamse man</h5>
                            <p class="nuance"></p>
                        </div>
                    </header>
                </li>
            </ul>
        </div>

        <div class="controls">
            <audio controls>
                <source src="/audio/podcast-bob-ep1-intro.mp3">
                </source>
            </audio>  
            <button><img src="/images/video.svg"></button>
        </div>
        
    </section>
    <form>

    </form>
</main>