<main class="home">
    <section>
        
        <div class="transcript">
            <ul>
                <li class="geluid">
                    <img src="/images/wave-sound.svg">
                    <p>Geroezemoes van langslopende mensen op straat</p>
                </li>
                <li class="upper_box transparent">
                    <div class="nuance"></div>
                    <header>
                        <img src="/images/siona.jpg">
                        <h5>Siona (Belgisch)</h5>
                    </header>
                </li>
                <li class="lower_box transparent">
                    <div class="nuance"></div>
                    <header>
                        <img src="/images/unknown.png">
                        <h5>Voorbijlopende Belgische man</h5>
                    </header>
                </li>
            </ul>
        </div>

        <audio controls>
            <source src="/audio/podcast-bob-ep1-intro.mp3">
            </source>
        </audio>  
    </section>
    <form>

    </form>
</main>